/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;

}

.botao-amarelo {
    display: block;
    margin: auto;
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-decoration: none;

}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}



/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 17%;
    box-sizing: border-box;
}

#container-de-descricao > p{
    width: 17%;
    display: block;
    margin: auto;
}


#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    text-decoration: none;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

body > div:nth-child(3){
    width: 440px;
    display: block; 
    margin: auto;
}

table {
    width: 60%;

}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    vertical-align:middle
}

/* body > div.container-do-search > div{
    display: inline-block;

} */

.icone {
    margin-top: 20px;

    height: 25px; 
    width: 30px; 
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    display: block;
    margin: auto;
}

#back-button:hover {
    background-color: #635a3d
}

.produtos {
    width: 70px;
}