#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    /* ****INÍCIO DOS EXERCÍCIOS do JOGO GRID GARDEN **** */

  grid-column-start: 3;

  grid-column-start: 5;

  grid-column-end: 4;

  grid-column-end: 2;

  grid-column-end: -2;

  grid-column-start: -3;

  grid-column-end: span 2;

  grid-column-end: span 5;

  grid-column-start: 3 span;

  grid-column: 4/6;

  grid-column: 2/ span 3;

  grid-row-start: 3;

  grid-row: 3/6;

  grid-row: 5/6;
  grid-column: 2/3;

  grid-column: 2/6;
  grid-row: 1/6;


/* É possível resumir o grid-column e grid-row em GRID-AREA 
a ORDEM DO GRID-AREA É : 
grid-row-start, grid-column-start, grid-row-end, seguido por grid-column-end*/
    grid-area: 2/3/5/6;

    order: 3;

    order: -1;

    grid-template-columns: 50% 50%;

    grid-template-columns: repeat(8, 12.5%);

    grid-template-columns: 100px 3em 40%;

    grid-template-columns: 1fr 5fr;

    grid-template-columns: 50px 1fr 1fr 1fr 50px;

    grid-template-columns: 75px 3fr 2fr;

    grid-template-rows: 50px 0 0 0 1fr;

/* É possível combinar ROWS e COLUMNS  em uma  GRID.   */

    grid-template: 60% 40%/200px 1fr;

    grid-template: 1fr 50px/20% 80%;

/* ****FIM  DOS EXERCÍCIOS  do JOGO GRID GARDEN**** */




  }
  