
* {
    margin: 0;
   padding: 0;
   text-decoration: none;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}

body, .titulo, .texto-claro {
    color: brown;

}

body {
    background-color:peachpuff;
    /* color:brown; */
}

.titulo{
    color: brown;
    font-size: 2em;
    font-weight: bold;
}

.cabecalho {
    text-align: center;
    background-color:darksalmon;
    padding-bottom: 3px;
    height: 130px;
    width: 60%;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border: 1px brown solid; */

}
.cabecalho-principal{
    padding: 30px;
}
.menu{
    text-align: center;
    margin-top: 3%;
}
.btn {
    color: cornsilk;
    background-color: darksalmon;
    text-decoration: none;
    border-radius: 25px;
    border:olivedrab;
    border-width: medium;
    padding: 1px 10px 5px 10px;
    margin: 20px 6px;
}

.principal{
    width: 60%;
    display: block;
    margin: auto;
    padding: 5% 2%;
    box-sizing: border-box;
    line-height: 1.5em;
}
.principal-centered {
    text-align: center;
}
ul {
    margin-top: 5%;
    line-height: 3em;
}
table td {
    background-color: white;
    border: 1px brown solid;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.5em;
}

.rodape {
    position:fixed;
    bottom: 0;
    display: block;
    width: 60%;
    margin-left: 20%;
    background-color:darksalmon;
    text-align: center;
    background-position: center center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-sizing: border-box;

}

.msg {
    margin: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.redes {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.icon {
    width: 4%;
    margin: 0% 10% 2% 10%;
    filter: invert(100%);
}