


button {
    margin: 10px 5px;
    /* padding: 5px; */
    /* margin: 10px  */
}

Button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #9abd88 100%);
	background-color:#77b55a;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 13px #5b8a3c;
    outline: none;

}
Button:hover {
	/* background:linear-gradient(to bottom, #9abd88 5%, #77b55a 100%); */
	background-color:#9abd88;
}
Button:active {
	position:relative;
	top:1px;
}