.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 550px;
    padding: 15px 30px;
    margin: 10px auto;
    flex-wrap: nowrap;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}